# Replace with your domain or subdomain.
git.example.com {
	handle /api/* {
		reverse_proxy backend:3000
	}

	handle /*.git* {
		reverse_proxy backend:3000
	}

	handle {
		reverse_proxy frontend:80
	}
}
